#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.poke-card {
  border: 1px black solid;
  width: 150px;
  height: 200px;
}
